Repository meet-radadiya13/django_assignment: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, check-db-migrations

django-check:
  name: Check project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

check-db-migrations:
  name: Checking project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

Created Project module and project module migrations
  authentication/admin.py
  authentication/migrations/0007_alter_user_username.py
  django_assignment/settings.py
  project/__init__.py
  project/admin.py
  project/apps.py
  project/migrations/0001_initial.py
  project/migrations/0002_alter_project_assign.py
  project/migrations/__init__.py
  project/models.py
  project/tests.py
  project/views.py
Due: django-check, check-db-migrations

Created signals and modified admin panel
  authentication/admin.py
  django_assignment/settings.py
  project/apps.py
  project/models.py
  project/signals.py
Due: django-check, check-db-migrations

Completed signal.py Added signal for create and edit task
  authentication/migrations/0008_alter_user_username.py
  authentication/models.py
  django_assignment/settings.py
  project/migrations/0003_remove_audithistory_created_by_and_more.py
  project/models.py
  project/signals.py
  requirements.txt
  templates/user/login.html
Due: django-check, check-db-migrations

Removed unnecessary views in authentication module and call then directly in urls.py
  authentication/models.py
  authentication/urls.py
  authentication/views.py
  project/models.py
  project/signals.py
  templates/project/project.html
Due: django-check, check-db-migrations

Completed Projects module
  django_assignment/settings.py
  django_assignment/urls.py
  project/signals.py
  project/urls.py
  project/views.py
  static/css/add_project.css
  static/css/login.css
  static/css/main.css
  static/css/project.css
  static/js/add_project.js
  templates/project/add_project.html
  templates/project/edit_projects.html
  templates/project/project.html
  templates/root/base.html
  templates/utils/javascript.html
Due: django-check

Added search project functionality
  authentication/views.py
  project/urls.py
  project/views.py
  templates/project/add_project.html
  templates/project/project.html
  templates/user/profile.html
Due: django-check

Completed search project functionality
  project/views.py
  static/js/project.js
  templates/project/edit_projects.html
  templates/project/project.html
  templates/root/base.html
Due: django-check

Profile modification page.
  authentication/views.py
  templates/user/login.html
  templates/user/profile.html
Due: django-check

Added Search projects and pagination
  project/urls.py
  project/views.py
  static/css/project.css
  static/js/project.js
  templates/project/add_project.html
  templates/project/project.html
  templates/root/base.html
Due: django-check

Added request cancelling in ajax
  authentication/models.py
  project/encoder.py
  project/views.py
  static/js/project.js
  templates/project/project.html
Due: django-check, check-db-migrations

Fixed a bug in view projects
  project/views.py
Due: django-check

Task addition and view functionality added.
  project/urls.py
  project/views.py
  static/css/task.css
  static/js/task.js
  templates/root/base.html
  templates/task/add_task.html
  templates/task/edit_tasks.html
  templates/task/task.html
Due: django-check

UI enhancement and pagination done.
  django_assignment/settings.py
  project/urls.py
  project/views.py
  static/css/task.css
  templates/project/project.html
  templates/root/base.html
  templates/task/add_task.html
  templates/task/task.html
Due: django-check

Improved pagination using elided pages
  django_assignment/settings.py
  project/encoder.py
  project/urls.py
  project/views.py
  static/js/project.js
  templates/project/project.html
Due: django-check

Improved pagination using elided pages
  project/encoder.py
  project/urls.py
  static/js/project.js
  templates/project/project.html
Due: django-check

Updated UI and fixed bugs
  .pre-commit-config.yaml
  authentication/models.py
  authentication/urls.py
  project/models.py
  project/urls.py
  project/views.py
  requirements.txt
  static/css/project.css
  templates/project/project.html
Due: django-check, check-db-migrations

Created Company models and reformatted code
  .pre-commit-config.yaml
  authentication/models.py
  authentication/urls.py
  authentication/views.py
  project/admin.py
  project/models.py
  project/signals.py
  project/tests.py
  project/urls.py
  project/views.py
  static/js/project.js
Due: django-check, check-db-migrations

Removed Commented code and added migrations
  authentication/migrations/0009_company_user_company.py
  project/migrations/0004_audithistory_is_deleted_project_is_deleted_and_more.py
  project/views.py
  static/css/404.css
  static/css/login.css
  static/css/project.css
  templates/project/project.html
Due: django-check

Added Task filter and searching functionality with pagination.
  project/urls.py
  project/views.py
  static/css/task.css
  templates/task/task.html
Due: django-check

View company users(company.html)
  authentication/admin.py
  authentication/migrations/0010_user_is_owner.py
  authentication/models.py
  authentication/urls.py
  authentication/views.py
  static/css/company.css
  templates/company/company.html
  templates/root/base.html
Due: django-check, check-db-migrations

view task module customization.
  project/views.py
  templates/task/add_task.html
  templates/task/edit_tasks.html
  templates/task/task.html
Due: django-check

Add and delete users functionality in company module
  authentication/migrations/0011_user_has_changed_password.py
  authentication/models.py
  authentication/urls.py
  authentication/views.py
  django_assignment/settings.py
  static/css/change_password.css
  static/css/company.css
  static/js/change_password.js
  static/js/project.js
  templates/company/company.html
  templates/project/project.html
  templates/root/base.html
  templates/user/change_password.html
  templates/utils/javascript.html
Due: django-check, check-db-migrations

Created custom middleware for password change
  authentication/middleware.py
  authentication/utils.py
  authentication/views.py
  django_assignment/settings.py
  django_assignment/urls.py
  templates/company/company.html
  templates/root/base.html
  templates/user/change_password.html
  templates/user/profile.html
Due: django-check

Optimized ORM queries
  authentication/views.py
  project/views.py
  templates/project/project.html
Due: django-check

Edit task module UI Customization.
  project/views.py
  static/css/edit_task.css
  static/js/edit_task.js
  templates/task/add_task.html
  templates/task/edit_tasks.html
  templates/task/task.html
Due: django-check

Added pagination on view users page
  authentication/urls.py
  authentication/views.py
  templates/company/company.html
  templates/root/base.html
Due: django-check

Optimized ORM queries
  authentication/urls.py
  authentication/views.py
  static/css/company.css
Due: django-check

Added Logging in authentication views
  authentication/views.py
Due: django-check

Removed unnecessary print statements
  templates/company/company.html
  templates/project/project.html
Due: none

Removed Email Credentials
  django_assignment/settings.py
Due: none

Created Dashboard page
  authentication/urls.py
  authentication/views.py
  static/css/home.css
  templates/root/home.html
Due: django-check

Set signals for task model and optimized dashboard queries and logging
  authentication/urls.py
  authentication/views.py
  project/migrations/0005_audithistory_user_from_audithistory_user_to_and_more.py
  project/models.py
  project/signals.py
  templates/user/change_password.html
Due: django-check, check-db-migrations

Added functionality to view project wise tasks
  project/urls.py
  project/views.py
  templates/project/project.html
  templates/project/project_view_tasks.html
Due: django-check

Added Authorization in project module
  authentication/views.py
  project/views.py
  templates/project/project_view_tasks.html
Due: django-check

Created link to open task detail in project_view_tasks.html
  static/css/company.css
  templates/project/project_view_tasks.html
Due: none

Added filtering and searching functionality in project wise task list
  authentication/views.py
  project/urls.py
  project/views.py
  templates/project/project_view_tasks.html
Due: django-check

Added Sample Cron job
  authentication/cron.py
  django_assignment/settings.py
  project/views.py
Due: django-check

Removed Cron Files
  authentication/cron.py
  django_assignment/settings.py
Due: django-check

Added Email and Stripe dependency in README.md
  README.md
Due: none

Task module attachment section and edit UI done.
  project/signals.py
  project/views.py
  static/css/edit_task.css
  static/css/task.css
  static/js/edit_task.js
  templates/task/edit_tasks.html
  templates/task/task.html
Due: django-check

Path conditions:
  django-check: any of: \.py$, but not: ^(\w+/migrations/|templates/|static/|.gitignore|.env|django_assignment/settings.py|manage.py)
  check-db-migrations: any of: models.py and \.py$ and not (^(\w+/migrations/|templates/|static/|.gitignore|.env|django_assignment/settings.py|manage.py))
