Repository meet-radadiya13/django_assignment: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, check-db-migrations

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: django-check
        name: Check project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: check-db-migrations
        name: Checking project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        language_version: python3
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language: python

exclude: ^(\w+/migrations/|templates/|static/|.gitignore|.env|django_assignment/settings.py|manage.py)

Partially integrated stripe
  authentication/middleware.py
  authentication/migrations/0012_user_stripe_customer_id_user_stripe_subscription_id_and_more.py
  authentication/models.py
  authentication/urls.py
  authentication/views.py
  django_assignment/settings.py
Due: django-check, check-db-migrations

Fixed a bug in UserChangedPasswordMiddleware
  authentication/middleware.py
Due: django-check

Changed url name in middleware.py
  authentication/middleware.py
Due: django-check

Added Payment module and payment authorization
  authentication/admin.py
  authentication/apps.py
  authentication/middleware.py
  authentication/migrations/0013_company_has_active_subscription.py
  authentication/migrations/0014_remove_company_has_active_subscription.py
  authentication/migrations/0015_company_end_date_paymenthistory_end_date.py
  authentication/migrations/0016_rename_end_date_company_subscription_end_date_and_more.py
  authentication/models.py
  authentication/signals.py
  authentication/urls.py
  authentication/utils.py
  authentication/views.py
  django_assignment/celery.py
  django_assignment/settings.py
  django_assignment/task.py
  project/migrations/0006_attachment_end_date_audithistory_end_date_and_more.py
  project/migrations/0007_remove_attachment_end_date_and_more.py
  requirements.txt
  static/css/pricing.css
  static/js/pricing.js
  templates/company/payment_cancelled.html
  templates/company/pricing.html
  templates/root/home.html
Due: django-check, check-db-migrations

Completed Audit history,attachment modifications and edit task section.
  authentication/middleware.py
  authentication/urls.py
  django_assignment/settings.py
  project/signals.py
  project/views.py
  static/css/font-fileuploader.css
  static/css/jquery.fileuploader.min.css
  static/js/jquery.fileuploader.min.js
  templates/project/project.html
  templates/project/project_view_tasks.html
  templates/root/home.html
  templates/task/add_task.html
  templates/task/edit_tasks.html
  templates/user/change_password.html
Due: django-check

Reformatted Code in payments module
  authentication/admin.py
  authentication/apps.py
  authentication/middleware.py
  authentication/models.py
  requirements.txt
Due: django-check, check-db-migrations

Sync endpoints across APIs and ORM queries modification.
  project/urls.py
  project/views.py
  templates/project/project_view_tasks.html
  templates/task/add_task.html
  templates/task/edit_tasks.html
  templates/task/task.html
Due: django-check

Removed pricing.js
  static/js/pricing.js
  templates/company/pricing.html
Due: none
